<?xml version="1.0" encoding="utf-8"?>

<!-- Control 配置文件 -->
<Control>

  <Distance
    forecast_dis="12"
    forecast_dis_normal="4"
    forecast_dis_avoid="3.5"/>
 

  <PidDis1Normal20 kp_s1="4.21"     ki_s1="0.001"   kd_s1="0.00"/>
  <PidDis2Normal20 kp_s2="1.01"      ki_s2="0.0"    kd_s2="0"/>

  <PidDis1Normal40 kp_s1="3.21"     ki_s1="0.0"   kd_s1="0.00"/>
  <PidDis2Normal40 kp_s2="1.01"      ki_s2="0.0"    kd_s2="0"/>

  <PidDis1Normal60 kp_s1="2.6"     ki_s1="0.0"   kd_s1="0.00"/>
  <PidDis2Normal60 kp_s2="1.01"      ki_s2="0.0"    kd_s2="0"/>
 
  <PidDis1SmallCurve kp_s1="16.51"     ki_s1="0"    kd_s1="0.0"/> 
  <PidDis2SmallCurve kp_s2="1.210"      ki_s2="0"    kd_s2="0"/>
 
  <PidDis1Curve kp_s1="8.20"     ki_s1="0"    kd_s1="0.0"/>
  <PidDis2Curve kp_s2="1.28"      ki_s2="0"    kd_s2="0"/>  

  <PidDis1Uturn kp_s1="21.5"     ki_s1="0"    kd_s1="0.0"/>
  <PidDis2Uturn kp_s2="1.58"      ki_s2="0"    kd_s2="0"/>     


  <KOutput
    k_accelerator="1"         k_braker="1"       k_steering="1"
    accelerator_upper="61"    braker_upper="75"   steering_upper="480"
    accelerator_low="-0"       braker_low="52"     steering_low="-480"
    />
	
  

</Control>
