<?xml version="1.0" encoding="utf-8"?>

<!-- Control 配置文件 -->
<Control>

  <Distance
    forecast_dis="12"
    forecast_dis_normal="15"
    forecast_dis_avoid="4"/>
 

  <PidDis1Normal
    kp_s1="4.51001"     ki_s1="0"   kd_s1="0.00"  
    />
  <PidDis2Normal
    kp_s2="1.01"      ki_s2="0"    kd_s2="0"
    />
 
  <PidDis1Avoid
    kp_s1="8.501"     ki_s1="0"    kd_s1="0.0"
    />
  <PidDis2Avoid
    kp_s2="1.101"      ki_s2="0"    kd_s2="0"
    />
 
  <PidDis1Curve
    kp_s1="14.5001"     ki_s1="0"    kd_s1="0.0"
    />
  <PidDis2Curve
    kp_s2="1.31"      ki_s2="0"    kd_s2="0"
    />    


  <KOutput
    k_accelerator="1"         k_braker="1"       k_steering="1"
    accelerator_upper="60"    braker_upper="75"   steering_upper="535"
    accelerator_low="0"       braker_low="52"     steering_low="-535"
    />
	
  

</Control>
