<?xml version="1.0" encoding="utf-8"?>

<!-- Slam 配置文件 -->
<Slam Sendfreq="30" Display="0" Showfreq="100" MinGpsAccu="50">
  <Method var="3"/>
  <Obstacle 
    movingVx="10" movingVy="010"
    resolutionparam1="10"
    resolutionparam2="10"
    resolutionparam3="10"
    />
  <Data
    length="5000" gpsLength="10000"
    xMin="-50" xMax="50" yMin="-20" yMax="80"
    lineOrder ="3" usingRansac="0"
    deltaDisY="-3"
    />
  <Window
    windowX="30"
    windowForward="60"
    windowBackward="-30"
    outputAreaHeight="200"
    windowScale="10"
    />
</Slam>
