<?xml version="1.0" encoding="utf-8"?>

<!-- Vision配置文件 -->
<Vision Mode = "4"> <!-- 0: real time; 4:simulator; 2:save source images-->
  <Road
    H00 = "-0.546676" H01 = "-0.0511219" H02 = "163.886"
    H10 = "0.00572773" H11 = "0.588768" H12 = "-967.754"
    H20 = "-3.45612e-005" H21 = "-0.00443021" H22 = "1"
    shadow="0"
    RGB="233"
    />
  <TrafficLight 
    />
  <StopLine   
    ImageCenterDistance="20"
    CameraHeight="69"
    FocalLength="0.869"
    />
</Vision>
