<?xml version="1.0" encoding="utf-8"?>

<!-- CAN 配置文件 -->

<CAN  CAN_Packet_Freq="11"  CAN_Control_Freq="31">

  <Reckon
   steer_to_tyre="16.1"
   steer_to_tyre_right="16.42"
   axis_distance="2.65"
   speed_ratio0="1.037"
   speed_ratio1="1.036"
   speed_ratio2="1.035"
   speed_ratio3="1.02"
   speed_ratio4="1"
   />

</CAN>
