<?xml version="1.0" encoding="utf-8"?>

<!-- Slam 配置文件 -->
<Slam Sendfreq="30" Display="0" Showfreq="100" MinGpsAccu="50">
  <!-- 0:autodecide, 1:usingcompare, 2:usingGPSandHeading, 3:usingslampos, 4:usingreckon, 5:usingvelocity -->
  <Method var="0"/>  
  <Obstacle 
    movingVx="10" movingVy="010"
    resolutionparam1="1"
    resolutionparam2="1"
    resolutionparam3="1"
    />
  <Data
    length="5000" gpsLength="2000" lidarLen="10"
    xMin="-30" xMax="30" yMin="-30" yMax="80"
    lineOrder ="3" usingRansac="0"
    deltaDisY="-3"
    />
  <Window
    windowX="30"
    windowForward="60"
    windowBackward="-20"
    outputAreaHeight="200"
    windowScale="10"
    />
</Slam>
