<?xml version="1.0" encoding="utf-8"?>

<!-- Fusion 配置文件 -->
<Slam Sendfreq="30" Display="1" Showfreq="33" MinGpsAccu="10">
  <!-- 0:autodecide, 1:usingFusionPos, 2:usingGPSandHeading, 3:usingslampos, 4:usinglidarSlamPos, 5:usingreckon, 6:usingvelocity -->
  <Method var="1"/>
  <Obstacle
    movingVx="1000" movingVy="01000"
    resolutionparam1="1"
    resolutionparam2="10"
    resolutionparam3="10"
    />
  <Data
    length="5000" gpsLength="100000" maxLidarFrame="30"
    xMin="-50" xMax="50" yMin="-20" yMax="80"
    lineOrder ="3" usingRansac="0"
    deltaDisY="-3"
    />
  <Window
    windowX="30"
    windowForward="50"
    windowBackward="-20"
    outputAreaHeight="200"
    windowScale="10"
    />
</Slam>
