<?xml version="1.0" encoding="utf-8"?>

<!-- GPS 配置文件 -->
<!-- trace=0, debug = 1,info = 2, warn = 3, err = 4, critical = 5, off = 6 -->
<Plan
Log_level="4"
Interval="101"
Planner_type="1"
Enabled_avoidance="1"
display_enabled="1"

predict_interval="0.1"
predict_num="50"
min_speed_threshold="1"

expected_time="5"
max_acc="3.0"

axis_dis="2.65"
tyre_to_steer="16.5"
tyre_to_steer_right="16.4"


V_width_half="1.2"
V_front="4.3"
V_back="-1.0"


lon_safe_margin="0.5"
lat_safe_margin="0.2"


static_safe_front="5"
static_safe_back="0.5"
static_safe_side="0.2"



/>
