<?xml version="1.0" encoding="utf-8"?>

<VParking save_result_video="0"> 
  
  <detcting
    />
	
  <!--<tracking 
	using_det_update="0"
	reckon_x_scale="1"
	reckon_y_scale="1"
	reckon_theta_scale="1"
	dis_to_be_same="0.1"
	max_tracking_dis="15"
    />-->

  <tracking
using_det_update="1"
reckon_x_scale="1"
reckon_y_scale="1"
reckon_theta_scale="1"
dis_to_be_same="0.75"
max_tracking_dis="15"
max_update_speed="3"
    />
  
</VParking>